.container {
    width: 42vw;
    height: 40vw;
    border-radius: 20px;
    position: relative;
    margin: auto;
    box-shadow: 0 0 10px rgba(181, 143, 96, 0.25);
}

.textContainer {
    width: 100%;
    border-radius: 0 0 14px 14px;
    position: absolute;
    bottom: 0;
    height: 15vw;
    background-color: #FEF5EC;;
    display: grid;
    grid-template-columns: 28vw 12vw;
    grid-template-rows: 7vw 8vw;
}

.dishName {
    margin: 0;
    font-size: 3.5vw;
    line-height: 2.7;
    padding-left: 15px;
}

.price {
    margin: 0;
    line-height: 0.9;
    font-size: 5.4vw;
    padding-left: 15px;
    font-weight: bold;
}

.addButton {
    color: #EC473D;
    background-color: #ffd8b3;
    grid-row: 1/3;
    grid-column: 2/3;
    height: 7vw;
    width: 7vw;
    font-size:7vw;
    padding: 0;
    border:none;
    border-radius: 8vw;
    margin :auto;
}