.modalTitle {
    text-align: center;
    font-size: 19px;
    color: var(--color-primary);
    font-weight: bold;
}


.cardContainer {
    width: 55vw;
    height: 55vw;
    border-radius: 20px;
    background: white;
    position: relative;
    margin:auto;
    box-shadow: 0 0 10px #99999955;
}

.cardTextContainer {
    width: 100%;
    border-radius: 0 0 20px 20px;
    position: absolute;
    bottom: 0;
    height: 15vw;
    background: #FEF5EC;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 7vw 8vw;
}

.menuName {
    margin: 0;
    font-size: 3.5vw;
    line-height: 2.7;
    padding-left: 15px;
}

.menuPrice {
    margin: 0;
    line-height: 0.9;
    font-size: 5.4vw;
    padding-left: 15px;
    font-weight: bold;
}
.proceedBtnSection{
    margin: 16px auto 0 auto;
    width: 100%;
    display: flex;
    gap: 1vw;

}
.proceedBtnSection button{
    position: relative;
    font-family: 'line_seed_jp', sans-serif;
    font-size: 4vw;
    width:39.5vw ;
    border-radius: 999px;
    height: 50px;
    border: none;
}
.proceedBtnSection .btnProceed span{
    position: relative;
    right: 12px;
}
.btnProceed{
    color: #fff;
    background: var(--color-primary);
    box-shadow: 0 3px 10px #FEA19C;
}
.btnProceed:active{
    background: #c83e36;
    box-shadow: 0 0px 0px #FEA19C;

}
.btnBack{
    color: var(--color-primary);
    background: #FFCE9F;

}
.proceedBtnSection button i {
    position: absolute;
    font-size: 35px;
    top: 8px;
    right: 8px;
    font-variation-settings: 'FILL'0
}