.modalTitle {
    text-align: center;
    font-size: 19px;
    color: #EC473D;
    font-weight: bold;
}

.cardContainer {
    width: 55vw;
    height: 55vw;
    border-radius: 20px;
    background: white;
    position: relative;
    margin:auto;
    box-shadow: 0 0 10px #99999955;
}

.cardTextContainer {
    width: 100%;
    border-radius: 0 0 20px 20px;
    position: absolute;
    bottom: 0;
    height: 15vw;
    background: #FEF5EC;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 7vw 8vw;
}

.menuName {
    margin: 0;
    font-size: 3.5vw;
    line-height: 2.7;
    padding-left: 15px;
}

.menuPrice {
    margin: 0;
    line-height: 0.9;
    font-size: 5.4vw;
    padding-left: 15px;
    font-weight: bold;
}