/*@import './assets/fonts/Fonts.css';*/

#root {
    /*max-width: 1280px;*/
    /*margin: 0 auto;*/
    /*padding: 2rem;*/
    /*text-align: center;*/
    width: 100vw;
    overflow: hidden;
}
.cartItemCountIndicator{
    position: absolute;
    text-decoration: none;
    left: 24px;
    font-weight: bold;
    top: 14px;
    color: white;
    font-size: 12px;
    margin: 0;
}
.appBarBtn {
    background: none;
    border: none;
    margin: 8px 0 0 12px;
    width: 52px;
    height: 52px;
    padding: 3px;
    border-radius: 99px;
    position: relative;
}
.appBarBtn span {
    margin-top: 0.35vw;
    color: #EC473D;
    font-size:10vw;
}
.appBarBtn:hover {
    background-color: #ffbcb9;
}
.appBar{
    background-color: #FFE6CE;
    z-index: 40;
    display: flex;
    justify-content: space-between;
/*     background-color: #fff;
 */    position: fixed;
    top:0;
    left:0;
    right:0;
    height: 17vw;
    padding:4.5vw 4.5vw 3.5vw 6vw;

}
.appBarLogo{

    height: 17vw;
}
.mainView {
    margin-top: 22vw
}
.material-symbols-rounded {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.navbar:hover {
    font-size: 11px
}




body {
    background: #FFE6CE;
    font-family: 'line_seed_jp', sans-serif;

}

.navbarItemIcon {
    height: 30px;
}

.navbarItemIcon span {

    font-size: 35px;
}

.navbarItem {
    color: #FEA19C;
    text-align: center;
    width: 70px;
    
}

.floating .navbarItem.focused{
    /*color: #EC473D;*/
    color: #fff;
}

.navbarItem.focused{
    color: #EC473D;

}
.navbarItemTitle {
    font-size: 11.5px;
    overflow: visible;
    margin-top: 2px;
}
.navbar.blur{

    display: flex;
    justify-content: space-around;
    height: 56px;

    bottom: 0px;
    left: 0;
    right: 0;
    position: fixed;
    /*background: #FFFFFF55;*/
    padding: 15px 16px;
    /*border-top: solid 1px #FEA19C;*/
    /*box-shadow: 0px 0px 20px #00000033;*/
    z-index: 44;
}
.navbar.blur::before {
    display: block;
    content: '';
    height: 70px;
    width: 100vw;
    bottom: 0px;
    padding: 15px 10px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    backdrop-filter: blur(9px);
    background-color: #FFE6CE;
    z-index: -1;
    mask-image:
            linear-gradient(to top, rgb(0 0 0 / 100%) 50%, rgb(0 0 0 / 8%) 93%, rgb(0 0 0 / 0%) 100%)
}
.navbar.floating {
    /*backdrop-filter: blur(8px);*/
    font-weight: normal;
    padding: 10px 13px;
    width: 78vw;
    border-radius: 99px;
    height: 52px;
    /*border: solid 2px;*/
    /*border-image: linear-gradient(0deg, #888 0%, #fff 100%) 1;*/
    /*background: #fff8f7b4;*/

    background: #EC473D;
    display: flex;
    box-shadow: 0 4px 15px rgba(156, 156, 156, 0.589);
    justify-content: space-around;
    border: solid 2px #FEA19C;
    position: fixed;
    bottom: 22px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 99px;
    z-index: 20;
}
.home{
    overflow-y: scroll;
}
.blurObj {
    display: block;
    content: '';
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /*background-color: red;*/
    background-color: #FFE6CE55;
    height: 120px;
    width: 100vw;
    /*backdrop-filter: blur(10px);*/
    mask-image:
            /*linear-gradient(to top, rgb(0 0 0 / 100%) 50%, rgb(0 0 0 / 8%) 93%, rgb(0 0 0 / 0%) 100%)*/
            linear-gradient(to top, rgb(0 0 0 / 100%) 85%,  rgb(0 0 0 / 0%) 100%)

}

.navBarBorder {
/*     box-shadow: 0 4px 10px rgba(236, 71, 61, 0.75);
 */
    /*bottom: 12px;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    /*border-radius: 99px;*/
    /*position: fixed;*/
/*     background: linear-gradient(0deg, rgba(195, 58, 50, 0.75) 0%, #fff 100%) ;
 */    padding: 3px
}

.menuSectionTitle{
    font-size: 1.5rem;
    margin: 0;

}
.menuSection{
    padding: 6vw;
}
.mainView {
    overflow-y: scroll;
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}