

.inCartItem {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 80px 1fr 40px 30px ;
    grid-template-rows: 30px 50px;
    height: 80px;

}
.inCartItem .menuImg{
    border:none;
    /*
    background-size: contain;
    */
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 14px;
    border-radius: 20px;
    width: 78%;
    height: 78%;
    grid-column: 1/2;
    margin: auto;
    grid-row: 1/3;
}
.inCartItem .menuTitle{
    font-size: 3.7vw;
    line-height: 0.8;
    margin: auto 0 0 10px;
}
.inCartItem .menuPrice {

    margin: 0 0 0 10px;
    font-weight: 600;
    font-size: 5.4vw;
    grid-column: 2/3;
}
.inCartItem+ .inCartItem {
    border-top: 1px solid #a5a5a5;

}
.inCartItem select{
    grid-column: 3/4;
    grid-row: 1/3;
    height: 40px;
    margin: auto;
    width: 100%;
}
.inCartItem button {
    grid-column: 4/5;
    height: 25px;
    width: 25px;
    grid-row: 1/3;
    background: none;
    border-radius: 99px;
    padding: 0;
    margin: auto 0 auto 4px;
    border: none;

}
.inCartItem button i {
    color: #EC473D;
    font-size: 20px;

}
.totalPriceSection{

    background: #FFF;

    border-radius: 0 0 20px 20px;

}
.inCartItemSection{
    padding: 0px 20px;

    background: #FEF5EC;
    border-radius: 20px 20px 0 0;
    overflow: scroll;
    height: 60%;
}

.proceedBtnSection{
    margin: 16px auto;
    width: 100%;
    display: flex;
    gap: 1vw;
}
.proceedBtnSection button{
    position: relative;
    font-family: 'line_seed_jp', sans-serif;
    font-size: 4vw;
    width:39.5vw ;
    border-radius: 999px;
    height: 50px;
    border: none;
}
.proceedBtnSection .btnProceed span{
    position: relative;
    right: 12px;
}
.btnProceed{
    color: #fff;
    background: #EC473D;
    box-shadow: 0 3px 10px #FEA19C;
}
.btnProceed:active{
    background: #c83e36;
    box-shadow: 0 0px 0px #FEA19C;

}
.btnBack{
    color: #EC473D;
    background: #FFCE9F;

}
.proceedBtnSection button i {
    position: absolute;
    font-size: 35px;
    top: 8px;
    right: 8px;
    font-variation-settings: 'FILL'0
}
.totalPriceSection{
    display: flex;
    gap: 15px;
    height: 80px;
    line-height: 80px;
    border-top: 6px solid #FFE6CE;
}
.totalPriceLabel{
    width: 25vw;
    text-align: right;
    margin: 0;
    font-weight: 400;
}
.totalPriceNumber{
    margin: 0;
    font-weight: bold;
    font-size: 6.5vw;
}